<div id="search" class="input-group">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg"
           autocomplete="off"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
    </span>
    <div class="dropdown-menu" id="ajax-search-result-list">
        <ul id="search-not-found">
            <li><h5>جست و جو در میان: </h5></li>
        </ul>
        <ul id="ajax-search-products-list">
            <li class="ajax-search-list-heading"><h5>محصولات</h5></li>
        </ul>
        <ul id="ajax-search-categories-list">
            <li class="ajax-search-list-heading"><h5>دسته بندی ها</h5></li>
        </ul>
        <ul id="ajax-search-manufacturers-list">
            <li class="ajax-search-list-heading"><h5>سازنده ها</h5></li>
        </ul>
    </div>
</div>