/*#search ul.dropdown-menu{*/
/*    max-width: 100px;*/
/*}*/
#search ul.dropdown-menu li button{
    text-align: right!important;
    /*text-justify: auto;*/
    /*word-wrap: break-word;*/
}

.search-not-found{
    padding: 3px;
    margin: 3px;
}