#search div.dropdown-menu{
    width: 100%;
}
#search div.dropdown-menu ul{
    padding: 3px;
    margin: 3px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search div.dropdown-menu ul li.ajax-search-list-heading,
#search div.dropdown-menu ul li.ajax-search-list-item{
    padding: 2px;
    margin: 2px;
}

#search div.dropdown-menu ul li h5{
    padding: 0;
    margin: 0;
}

/*#ajax-search-products-list,*/
/*#ajax-search-categories-list,*/
/*#ajax-search-manufacturers-list,*/
/*#search-not-found{*/
/*    display: none;*/
/*}*/
